.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    max-width: 600px;
    margin-inline: auto;
}

.loginTitle {
    margin-bottom: 40px;
}