* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 30px;
    background-color: rgb(70, 62, 62);
}


.search-container {
    display: flex;
    gap: 10px;
}

.search-container input {
    padding: 10px;
    width: 300px;
}
.search-container button {
    padding: 10px;
    background-color: crimson;
    font-weight: bold;
    color: white;
}

.video-container {
    height: 450px;
    background-color: crimson;
}

.recommendation-container {
    height: 200px;
    background-color: rgb(114, 94, 98);
}