* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
  border: 2px solid black;
  max-width: 400px;

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.modal-container .modal_image {
  width: 100%;
}

.modal-container .close-icon {
  width: 30px;
  position: absolute;
  top: 15px;
  right: 15px;
}
